program/hex/
simv
# ============================================
# Vivado Generated Directories (自動產生資料夾)
# ============================================
*.runs/
*.sim/
*.cache/
*.hw/
*.ip_user_files/
.Xil/
*.gen/

# ============================================
# Vivado Intermediate Files (中間產物與日誌)
# ============================================
*.log
*.jou
*.pb
*.wdb
*.str
*.lpr

# ============================================
# Simulation Artifacts (模擬相關)
# ============================================
xsim.dir/
xsim.ini
xsim.ini.bak
*.vcd
*.wcfg.bak

# ============================================
# Implementation Outputs (產出的燒錄檔)
# ============================================
*.bit
*.bin
*.mcs
*.prm

*.xsa

.cursor
.vscode
build/
obj_dir/
__pycache__